{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center my-4">Orders List</h1>

    <div class="d-flex justify-content-between align-items-center mb-3">
        <form method="get" class="d-flex align-items-center gap-2 m-0 p-0">
            <div class="d-flex align-items-center">
                {{ filter_form.loading_date }}
            </div>
            <div class="d-flex align-items-center">
                {{ filter_form.status }}
            </div>
            <button type="submit" class="btn btn-outline-success">Search</button>
            <button type="button" class="btn btn-secondary" onclick="exportToExcel()">Export</button>
        </form>

        <button type="button" id="hintBtn" class="btn btn-info ml-3">
            💡 Hint
        </button>
    </div>

    <div id="hintAlert" class="alert alert-info fade show d-none" role="alert">
        To remove a Delivery Note from an Order, set the <strong>Value</strong> to <em>0</em> or leave it empty.
    </div>

    <table id="table" class="table table-bordered table-striped table-hover text-center datagrid excelExport">
        <thead>
        <tr>
            <th>ID</th>
            <th>Up user</th>
            <th>Term of delivery</th>
            <th>UP</th>
            <th>Plant</th>
            <th>Loading Date</th>
            <th>Unloading Date</th>
            <th>Package Count</th>
            <th>Height</th>
            <th>Weight</th>
            <th>LDM</th>
            <th>Delivery Notes</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
            <td data-label="ID">{{ order.id }}</td>
            <td data-label="USER">{{ order.up_user }}</td>
            <td data-label="TERM OF DELIVERY">{{ order.terms_of_delivery }}</td>
            <td data-label="UP">{{ order.up }}</td>
            <td data-label="PLANT">{{ order.plant }}</td>
            <td data-label="LOADING DATE">{{ order.loading_date|date:"d/m/Y" }}</td>
            <td data-label="UNLOADING DATE">{{ order.unloading_date|date:"d/m/Y" }}</td>
            <td data-label="PACKAGES COUNT">{{ order.package_count }}</td>
            <td data-label="HEIGHT">{{ order.height }}</td>
            <td data-label="WEIGHT">{{ order.weight }}</td>
            <td data-label="LDM">{{ order.ldm }}</td>
            <td data-label="DELIVERY NOTES">
                {% for delivery_note in order.delivery_notes.all %}

                    <span style="cursor: pointer; color: darkred" class="delivery-note "
                          data-note="{{ delivery_note.delivery_note_number }}"
                          onclick="goToNote({{ delivery_note.id }})">
                 {{ delivery_note.delivery_note_number }}
                </span><br>

                {% endfor %}
            </td>
            <td data-label="VALUE">
                {% for delivery_note in order.delivery_notes.all %}
                    <span>{{ delivery_note.value }}</span><br>

                {% endfor %}
            </td>

        {% endfor %}
        </tbody>
        {{ ordersId|json_script:"orders-data" }}
    </table>

    <script>
        const ordersId = JSON.parse(document.getElementById('orders-data').textContent);


        function goToNote(noteId) {
            window.location.href = `/deliveryNote/update/${noteId}`;  // или
        }

        function exportToExcel() {
            if (!ordersId || ordersId.length === 0) {
                Swal.fire({
                    icon: 'warning',
                    title: 'No orders selected',
                    text: 'Please select orders to export.',
                    confirmButtonText: 'OK',
                    timer: 5000,
                    timerProgressBar: true
                });
                return;
            }
            const table = document.getElementById('table');
            let workbook = XLSX.utils.table_to_book(table, {raw: true});
            XLSX.writeFile(workbook, 'export.xlsx');
            updateOrderStatus(ordersId);
        }

        function updateOrderStatus(orderIds) {
            if (orderIds.length === 0) {
                return;
            }
            $.ajax({
                url: 'update-order-status/',
                type: 'POST',
                data: JSON.stringify({orderIds: orderIds}),
                contentType: 'application/json',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken')
                },
                success: function (response) {
                    if (response.success) {
                        window.location.href = '/orders';
                    } else {

                        alert('Failed to update order statuses: ' + response.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert('An error occurred while updating order statuses: ' + error);
                }
            });
        }


        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>

    <script>
        document.getElementById('hintBtn').addEventListener('click', function () {
            const hint = document.getElementById('hintAlert');
            hint.classList.remove('d-none');

            setTimeout(() => {
                hint.classList.add('d-none');
            }, 8000);
        });
    </script>

{% endblock %}
