{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center my-4">Orders List</h1>

    <form method="get" class="form-inline justify-content-center mb-4">
    <div class="form-group mx-2">
        {{ filter_form.loading_date.label_tag }}
        {{ filter_form.loading_date }}
    </div>
    <div class="form-group mx-2">
        {{ filter_form.status.label_tag }}
        {{ filter_form.status }}
    </div>
    <button type="submit" class="btn btn-primary mx-2">Search</button>
</form>

    <table id="table" class="table table-bordered table-striped table-hover text-center datagrid">
        <thead>
        <tr>
             <th>ID</th>
            <th>Up user</th>
            <th>Term of delivery</th>
            <th>UP</th>
            <th>Plant</th>
            <th>Loading Date</th>
            <th>Unloading Date</th>
            <th>Package Count</th>
            <th>Height</th>
            <th>Weight</th>
            <th>LDM</th>
            <th>Delivery Notes</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
            <td data-label="ID">{{ order.id }}</td>
            <td data-label="USER">{{ order.up_user }}</td>
            <td data-label="TERM OF DELIVERY">{{ order.terms_of_delivery }}</td>
            <td data-label="UP">{{ order.up }}</td>
            <td data-label="PLANT">{{ order.plant }}</td>
            <td data-label="LOADING DATE">{{ order.loading_date|date:"d/m/Y" }}</td>
            <td data-label="UNLOADING DATE">{{ order.unloading_date|date:"d/m/Y" }}</td>
            <td data-label="PACKAGES COUNT">{{ order.package_count }}</td>
            <td data-label="HEIGHT">{{ order.height }}</td>
            <td data-label="WEIGHT">{{ order.weight }}</td>
            <td data-label="LDM">{{ order.ldm }}</td>
            <td data-label="DELIVERY NOTES">
                {% for delivery_note in order.delivery_notes.all %}

                    <a href="{% url 'update_delivery_note' delivery_note.id %}">
                        {{ delivery_note.delivery_note_number }}</a>
                {% endfor %}
            </td>
            <td data-label="VALUE">
                {% for delivery_note in order.delivery_notes.all %}
                    <span>{{ delivery_note.value }}</span>

                {% endfor %}
            </td>

        {% endfor %}
        </tbody>
    </table>


{% endblock %}
