# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
ENV/
env/

# Django DB
db.sqlite3
*.sqlite3

# Django stuff:
*.log
*.pot
*.pyc
*.mo
*.pyo
*.pyd

# VSCode
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Migrations (optional, only if you don't want to track them)
# **/migrations/
# !**/migrations/__init__.py

# Static and media (optional if generated dynamically)
# staticfiles/
# media/
