{% load static %}
<!DOCTYPE html>
<html lang="en">

    <meta charset="UTF-8">
    <title>{% block title %}My Site{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.4.6.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-table.css' %}">
    <link rel="stylesheet" href="{% static 'css/sweet-alert.css' %}">
    <link rel="stylesheet" href="{% static 'css/datagrid.css' %}">
    
    <script src="{% static 'js/jquery.3.5.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.4.6.js' %}"></script>
    <script src="{% static 'js/bootstrap-table.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/sweet-alert.js' %}"></script>
    <script src="{% static 'js/all.js' %}"></script>

    <style>
        {
            color: red; 
            font-weight: bold;
        }

        .hidden {
            display: none; 
        }
    </style>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">MySite</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid mt-4">
    {% block content %}{% endblock %}
</div>

{% block extra_scripts %}
    <script>
        function SweetAlert(type, message) {
            let timer = 5000;//default

            if (type !== 'success') {
                timer = 8000;
            }

            Swal.fire({
                icon: type,
                title: type.toUpperCase(),
                text: message,
                timer: timer,
                timerProgressBar: true,
                showConfirmButton: true
            });
        }
        
    </script>
    <script>
    {% for message in messages %}
   
        SweetAlert('{{ message.tags }}', '{{ message|escapejs }}');
    {% endfor %}
        </script>
{% endblock %}
<script>

    document.addEventListener('DOMContentLoaded', function () {
        let errorMessages = document.querySelectorAll('.errorlist');

        errorMessages.forEach(function (message) {
            message.classList.remove('hidden');

            setTimeout(function () {
                message.classList.add('hidden');
            }, 5000);
        });
    });
    
</script>

</body>
</html>
